.profile-container img {
	border-radius: 50%;
	margin-right: 20px;
	width: 200px;
	height: 200px;
}

.user-details-info h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.user-details-info p {
	color: #555;
}

.user-details-contacts {
	margin-right: 300px;
}

.profile-header {
	background-color: #6a0dad;
	color: white;
	width: 100%;
	padding: 15px;
}

.back-button,
.edit-button {
	padding: 10px 15px;
	margin-bottom: 10px;
	background-color: transparent;
	color: white;
	cursor: pointer;
	font-size: 16px;
	border: 1px solid white;
	border-radius: 5px;
}

.back-button:hover,
.edit-button:hover {
	background-color: white;
	color: #6a0dad;
}

.profile-title {
	font-size: 64px;
}

.profile-title h4 {
	font-size: 32px;
}

.profile-content {
	display: flex;
	background-color: white;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.partner-section {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.partner-info {
	font-size: 16px;
	width: 60%;
	margin-left: 188px;
}
